<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="onFilterInputChange($event)" #input>
</mat-form-field>

<table mat-table *ngIf="elementsDataAsMatTableDataSource$ | async as DS"
    [dataSource]="DS">

    @for(column of tableColumns; track column;) {
    <ng-container matColumnDef="{{column}}">
        <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}}
            <button
                (click)="openDialog(column, element)"><mat-icon>edit</mat-icon></button>
        </td>
    </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter
            "{{input.value}}"</td>
    </tr>
</table>